* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.logo {
    width: 40vw;
    height: auto;
}

.topnav {
    background-color:#02447e;
    overflow:hidden;
}
.topnav a {
    float:left;
    color:white;
    text-align: center;
    padding:1em 1.1em;
    text-decoration: none;
    font-size:1em;
}
.topnav a:hover {
    background-color:#0070ad;
    color:black;
}
.topnav a.active {
    background-color:#0270ad;
    color:white;
}
.topnav .search-container {
    float:right;
}
.topnav input[type=text] {
    float:left;
    padding:6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size:1.2em;
}
.topnav .search-container button {
    float:right;
    padding:20px 20px;
    margin-top: 8px;
    margin-right: 16px;
    background:#ddd;
    font-size:17px;
    border:none;
    cursor: pointer;
}
.topnav .search-container button:hover {
    background:#ccc;
}
@media screen and (max-width:600px) {
    .topnav .search-container {
        float:none;
    }
    .topnav a, .topnav input[type="text"], .topnav .search-container button {
        float:none;
        display: block;
        text-align: left;
        width:100%;
        margin:0;
        padding:14px;
    }
    .topnav input[type="text"] {
        border: 1px solid #ccc;
    }
    .search-bar {
        min-height: 48px;
    }
    .sticky {
        visibility: collapse;
    }
    .logo{
        width: 80vw;
        height: auto;
    }
    .cosmetology-img {
        visibility: collapse;
    }
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
}
.flex-container >div {
    border:1px solid black;
    width:50%;
    padding:50px;
    margin:10px;
    line-height: 25px;
}

.brand {
    background-image:url(college.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 300px;
}
.cosmetology-img {
    width:35vw;
    min-width: 1vw;
    height: auto;
}
.apply-now {
    color:yellow;
    padding:5px;
    background-color:black;
}
.apply-now:hover {
    background-color: slategray;
}

.ask-a-question {
    color:yellow;
    padding:5px;
    background-color:black;
}
.ask-a-question:hover {
    color:yellow;
    background-color:slategray;
}
.buttons {
    margin:auto;
    padding:5px;
}

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.collapsible,.collapsible-two {
    background-color: #777;
    color: white;
    cursor: pointer;
    margin:10px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover, .collapsible-two {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
table {
    font-size: 1.4em;
    background-color:lightgray;
    text-align: left;
}
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 5px;
}
th {
    background-color:#0070ad;
}
tr:nth-child(even)
{
    background-color:white;
}
.footer {
    background-color:#02447e;
    text-align: center;
    color:white;
    padding: 10px;
}

.dark-mode {
    color:whitesmoke;
    background-color:black;
    
}

ul{
    display: flex;
    flex-wrap:wrap;
    list-style: none;
}
li{
    width:20%;
}

a{
    color:white
}

